.display-flex {
  display: center;
  flex:wrap;
  margin: 2rem 0;
  position: relative;
  flex-direction: row;
  flex-basis: auto;
  justify-content: space-between;}

.flex-1 { flex: 1; flex-basis: 50%; }

.flex-2 { flex: 2; flex-basis: 50%; }

.flex-3 { flex: 3; }

.flex-4 { flex: 4; }

.flex-5 { flex: 5; }

.flex-6 { flex: 6; }

[class*="flex-"] {
  padding-left: 100px;
  padding-right: 100px;
}

[class*="flex-"]:first-child {
  padding-left: 2fr;
  padding-right: 2fr;
}

[class*="flex-"]:last-child {
  margin-left: 30%;
  margin-right: 30%;
}
.flex-item {
  background-color: white;
  width: 400px;
  margin: 10px;
  text-align: center;
  line-height: 100px;
  justify-content: center;
}
{
  fieldGroupClassName: 'display-flex',
  templateOptions: { label: 'Persönliche Daten' },
  fieldGroup: [
    {
      className: 'flex-1',
      fieldGroup: [
        {
          type: 'input',
          key: 'firstName',
          templateOptions: {
            label: 'First Name',
          },
        },

        {
          type: 'input',
          key: 'lastName',
          templateOptions: {
            label: 'Last Name',
          },
        },
      ],
    },
    {
      className: 'flex-1',
      fieldGroup: [
        {
          type: 'input',
          key: 'street',
          templateOptions: {
            label: 'Street',
          },
        },
        {
          type: 'input',
          key: 'cityName',
          templateOptions: {
            label: 'City',
          },
        },
        {
          type: 'input',
          key: 'zip',
          templateOptions: {
            type: 'number',
            label: 'Zip',
          },
        },
      ],
    },
  ],
},
